name: Dockerfile building for PRs

on:
  pull_request:
    branches: [ "main" ]
  # Allow mannually trigger
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the container image
      run: docker build .
